<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132842422466-infpvh0ipp42260n38b7m0825b71nu0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132842422466-infpvh0ipp42260n38b7m0825b71nu0t</string>
	<key>API_KEY</key>
	<string>AIzaSyA_HSXTmcaWv70epKO7Fbd9TNvVusysSUI</string>
	<key>GCM_SENDER_ID</key>
	<string>132842422466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.guido</string>
	<key>PROJECT_ID</key>
	<string>guido-test-20e43</string>
	<key>STORAGE_BUCKET</key>
	<string>guido-test-20e43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132842422466:ios:7219c6c198715a58097b5b</string>
</dict>
</plist>